- if local_assigns[:short]
  %a{href: dungeon_path(dungeon)}
    = image_tag dungeon.image.thumb('300x200#').url
  = render partial: 'votes', locals: { dungeon: dungeon }
- else
  .dungeons-row
    - if dungeon.title.present?
      %h3= dungeon.title
    %p
      %a{target: :_blank, href: dungeon.image.url}
        = image_tag dungeon.image.thumb('500x300#').url if dungeon.image_stored?
      - if dungeon.description.present?
        .description.text-center
          = markdown(dungeon.description)

    = render partial: 'votes', locals: { dungeon: dungeon }