.row
  - if @dungeon.errors.present?
    %p.error= @dungeon.errors.full_messages.to_sentence
  = form_for(@dungeon, html: {multipart: true, class: 'form-horizontal'}) do |f|
    .control-group
      = f.label :level, class: 'control-label'
      .controls
        = f.select :level, Dungeon::LEVELS.map { |num, title| ["[#{num}] #{title}", num] }
    .control-group
      = f.label :description, class: 'control-label'
      .controls
        = f.text_area :description
    .control-group
      = f.label :author_name, class: 'control-label'
      .controls
        = f.text_field :author_name, class: 'input-block-level'
    .control-group
      = f.label :image, class: 'control-label'
      .controls
        = f.file_field :image, class: 'input-block-level'
    .control-group
      %label{for: 'images[]'} Additional images:
      .controls
        - 3.times do
          %input.input-block-level{type: :file, name: 'images[]'}
    .control-group
      .controls
        = f.submit 'Save my base', class: 'btn btn-primary'
