.row
  = form_for(@dungeon, html: {multipart: true, class: 'form-horizontal'}) do |f|
    .control-group
      = f.label :level, class: 'control-label'
      .controls
        = f.text_field :level
    .control-group
      = f.label :description, class: 'control-label'
      .controls
        = f.text_area :description
    .control-group
      = f.label :author_name, class: 'control-label'
      .controls
        = f.text_field :author_name, class: 'input-block-level'
    .control-group
      = f.label :image, class: 'control-label'
      .controls
        = f.file_field :image, class: 'input-block-level'
        - 3.times do
          %input.input-block-level{type: :file, name: 'images[]'}
    .control-group
      .controls
        = f.submit nil, class: 'btn btn-primary'
